textarea {
  width: 100%;
  box-sizing: border-box;
  field-sizing: content;
}

.error-message {
  color: red;
}

#history-section {
  margin: 10px 0;
}

#history-list {
  max-height: 360px;
  overflow-y: auto;
  display: none;
}

.history-item {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.history-item:last-child {
  margin-bottom: 0;
}

.history-item p {
  margin: 0;
}
